[dashboard]
url: neptune.usc.edu
iotsc_port: 2883
access_token: xJispNqriF2A7OEopFgH 
topic_telemetry: v1/devices/me/telemetry
topic_attributes: v1/devices/me/attributes

[IMSCBroker]
i3_url: dsicloud3.usc.edu
i3_port: 1880
i3_topic: USC/UPC/sensor1
i3_user_name: iottestbed
i3_password: j7B764

[GrafanaBroker]
eclipse_url: eclipse.usc.edu

[id]
myid: 9014


[sensor1]
id: dht_temp
type: sensor
bus: digital
port: 2
sampling: 1000
telemetry: temperature

[sensor2]
id: dht_hum
type: sensor
bus: digital
port: 2
sampling: 1000
telemetry: humidity

[sensor3]
id: temp_interior
type: sensor
bus: analog
port: 0
sampling: 1000
telemetry: temperature_interior

[sensor4]
id: light_digital
type: sensor
bus: i2c
port: 1
sampling: 1000
telemetry: light

[sensor5]
id: pir
type: sensor
bus: digital
port: 3
sampling: 100
telemetry: pir

[sensor6]
id: vibration
type: sensor
bus: analog
port: 1
sampling: 100
telemetry: vibration

[sensor7]
id: sound
type: sensor
bus: analog
port: 2
sampling: 100
telemetry: Sound

[sensor8]
id: gas_mq2
type: sensor
bus: analog
port: 1
sampling: 5000
telemetry: gas_mq2

[sensor9]
id: gas_mq3
type: sensor
bus: analog
port: 2
sampling: 5000
telemetry: gas_mq3

[sensor10]
id: gas_mq5
type: sensor
bus: analog
port: 3
sampling: 5000
telemetry: gas_mq5

[sensor11]
id: gas_mq9
type: sensor
bus: analog
port: 4
sampling: 5000
telemetry: gas_mq9

