[Unit]
Description=Publishes sensor data to dashboard
After=network.target

[Service]
User=pi
ExecStart=/usr/bin/python /home/pi/iotsc/dashboard/iotsc_dashboard.py /home/pi/iotsc/dashboard/output.log /home/pi/iotsc/dashboard/config.cnf

[Install]
WantedBy=multi-user.target
